
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.center-table {
  margin: 0 auto; /* Centre la table horizontalement */
  max-width: 800px; /* Limite la largeur de la table */
}

table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
